{% extends "account/base_entrance.html" %}
{% comment %} {% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" name="action" %}
                    {% trans 'Change Password' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %} {% endcomment %}

{% block content %}
<h3>{% if token_fail %}Плохой токен{% else %}Изменить пароль{% endif %}</h3>
{% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>Ссылка для изменения пароля неверна, возможно потому, что уже была использована. Пожалуйста, запросите <a href="{{ passwd_reset_url }}">новый запрос</a> на изменение пароля.</p>
{% else %}

<form method="post" action="{{action_url}}">{% csrf_token %}
    <div class="mb-3">
        <label for="id_password1">Новый пароль:</label>
        <input class="form-control" type="password" name="password1" autocomplete="new-password" required id="id_password1">
        {% if form.email.errors %}
            <span class="text-danger">{{ form.password1.errors.as_text }}</span>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="id_password2">Новый пароль (ещё раз):</label>
        <input class="form-control" type="password" name="password2" required id="id_password2">
        {% if form.email.errors %}
            <span class="text-danger">{{ form.password2.errors.as_text }}</span>
        {% endif %}
    </div>
    
    <button class="btn btn-primary" name="action" type="submit">Изменить пароль</button>
</form>
{% endif %}
{% endblock content %}
