{% extends "account/base_entrance.html" %}
{% comment %} {% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Verify Your Email Address" %}
    {% endelement %}
    <p>
        {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
    </p> {% endcomment %}

{% block content %}
<h3>Подтвердите адрес электронной почты</h3>
<p>Мы отправили вам письмо с подтверждением. Перейдите по указанной ссылке, чтобы завершить процесс регистрации.</p>
<p>Если вы не видите письмо с подтверждением в вашем основном почтовом ящике, проверьте папку "Спам".</p>
{% comment %} <p>Пожалуйста, свяжитесь с нами, если вы не получите письмо с подтверждением в течение нескольких минут.</p> {% endcomment %}
{% endblock content %}
