{% extends 'orders/email/base_message.html' %}
{% autoescape off %}
{% block content %}
<h3>Здравствуйте{% if full_name %}, {{full_name}}{% endif %}!</h3>
<p>Заказ № {{ order.number }} от {{ order.created_at|date:'DATE_FORMAT' }} на сайте <a href="https://viride.spb.ru">ООО «Вириде»</a></p>
<p>Статус заказа: <em>{{order.status|lower}}</em></p>
{% comment %} <p>Оплата: <em>наличными при получении</em></p> {% endcomment %}
<br>
<table width="100%" cellspacing="0" cellpadding="5" border="0" rules="rows">
    <thead>
    <tr>
        <th align="left">Наименование</th>
        <th align="center">Количество</th>
        <th align="left">Цена</th>
        <th align="left">Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for order_item in order_items %}
        <tr>
        <td>{{ order_item.name }}</td>
        <td align="center">{{ order_item.quantity }}</td>
        <td>{{ order_item.price }} руб.</td>
        <td>{{ order_item.total_price }} руб.</td>
        </tr>
    {% endfor %}
    <tr bgcolor="#F8F9FA">
        <td colspan="4">
            <p><strong>Итого: {{ order.total_price }} руб.</strong></p>
        </td>
    </tr>
    </tbody>
</table>
<br>
{% include 'orders/attention.html' %}
{% endblock content %}
{% endautoescape %}