{% extends "profiles/main.html" %}
{% load django_bootstrap_breadcrumbs allauth i18n %}

{% block head %}
<title>Изменить пароль</title>
{% endblock %}

{% block breadcrumb %}
{% breadcrumb_for '/' %}<i class="fas fa-home text-white"></i>{% endbreadcrumb_for %}
{% breadcrumb_for 'profiles:index' %}Профиль пользователя{% endbreadcrumb_for %}
{% breadcrumb_for 'account_change_password' %}Изменить пароль{% endbreadcrumb_for %}
{% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block breadcrumb_name %}
Изменить пароль
{% endblock %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block profile_content %}
<div class="row">
    <div class="col-12 col-md-10 col-lg-7">
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
    {% endelement %}
    </div>
</div>
{% endblock %}
