<div class="col-12 species-filter mt-3">
  {% for link in links %}
    {% if link.active %}
      <span class="me-1 me-sm-2 badge active">{{ link.name }}</span>{% if not forloop.last %}<span class="me-1 me-sm-2 color-tertiary-opacity"> &middot; </span>{% endif %}
    {% else %}
      <a class="me-1 me-sm-2" href="{{ link.url }}" title="{{ link.title }}">{{ link.name }}</a>{% if not forloop.last %}<span class="me-1 me-sm-2 color-tertiary-opacity"> &middot; </span> {% endif %}
    {% endif %}
  {% endfor %}
</div>
