{% extends "main.html" %}
{% load thumbnail django_bootstrap_breadcrumbs static %}

{% block head %}
<title>Плодовые растения | Viride - садово-парковые растения</title>
<meta property="og:title" content="Плодовые растения | Viride - садово-парковые растения">
<meta name="description" content="Плодовые растения">
<meta property="og:description" content="Плодовые растения">
<meta property="og:type" content="website">
<meta property="og:url" content="{{host}}{% url 'fruits:list' %}">
{% endblock %} 

{% block breadcrumb_name %}
Книги
{% endblock %}

{% block breadcrumb %}
{% breadcrumb_for '/' %}<i class="fas fa-home text-white"></i>{% endbreadcrumb_for %}
{% breadcrumb_for 'catalog_template' %}Каталог{% endbreadcrumb_for %}
{% breadcrumb_for 'book_list' %}Книги{% endbreadcrumb_for %}
{% render_breadcrumbs 'breadcrumb.html' %}
{% endblock%}

{% block content %}
<div class="row mx-2">
    <div class="col-12">
        <form class="row gx-4 align-items-center">
        {{ per_page }}
        </form>
        {% include 'common/listview/cards.html' %}
        {% include 'pagination.html' %}
    </div>
</div>
{% endblock %}