{% extends 'main.html' %}
{% load thumbnail markdownify django_bootstrap_breadcrumbs cache %}

{% block head %}
  {% include 'head.html' %}
  {% comment %} <meta property="og:url" content="{{ host }}{% url 't-r_list' %}"> {% endcomment %}
{% endblock %}

{% block name %}
  {{ object.name }}
{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'catalog_item_list' %}Каталог{% endbreadcrumb_for %}
  {% if object.category.name == 'BOOK' %}
    {% breadcrumb_for 'book_list' %}Книги{% endbreadcrumb_for %}
    {% breadcrumb_for 'book_detail' object.slug %}{{ object.name }}{% endbreadcrumb_for %}
  {% else %}
    {% breadcrumb_for 'related_list' %}Сопутствующие товары{% endbreadcrumb_for %}
    {% breadcrumb_for 'related_detail' object.slug %}{{ object.name }}{% endbreadcrumb_for %}
  {% endif %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block content %}
{% cache cache_timeout otherproduct_detail object.id %}
<div class="container-fluid px-3 px-md-5">
  <div class="row">
    <div class="col-12 col-md-4">
      {% include 'common/detailview/images_gallery.html' %}
    </div>
    <div class="col-12 col-md-8">
      <p>{{ object.short_description }}</p>

      {% with object_set_all=object.prices.all %}
        {% include 'common/detailview/add_to_cart/prices.html' %}
      {% endwith %}

    </div>
    <div class="row">
      <div class="col-12">
        <p>{{ object.description|safe }}</p>
      </div>
    </div>
  </div>
</div>
{% endcache %}
{% include 'common/detailview/add_to_cart/csrf_token.html' %}
{% endblock %}
