{% extends 'main.html' %}
{% load thumbnail django_bootstrap_breadcrumbs static %}

{% block head %}
  <title>Плодовые растения | Viride - садово-парковые растения</title>
  <meta property="og:title" content="Плодовые растения | Viride - садово-парковые растения">
  <meta name="description" content="Плодовые растения">
  <meta property="og:description" content="Плодовые растения">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ host }}{% url 'fruits:list' %}">
{% endblock %}

{% block name %}
  Сопутствующие товары
{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'catalog_item_list' %}Каталог{% endbreadcrumb_for %}
  {% breadcrumb_for 'related_list' %}Сопутствующие товары{% endbreadcrumb_for %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block content %}
  {% include 'common/listview/filters.html' %}
  <div class="container-fluid px-3 px-md-5">
    <div class="row">
      <div class="col-12">
        {% include 'common/listview/cards.html' %}
        {% include 'pagination.html' %}
      </div>
    </div>
  </div>
{% endblock %}
