.git
.venv
.vscode
.docker
.useful
.cloc
__pycache__

node_modules
cache
media
htmlcov
fixtures

grab

settings_local.py

*.sql
*.log
*.zip
*.json
*.cdr
*.psd

.ssh
.coverage
.coveragerc
.pylintrc

webpack*
