.git
.venv
.vscode
.docker
__pycache__

node_modules
cache
media
htmlcov
fixtures

settings_local.py

*.sql
*.log
*.zip
*.json
*.cdr
*.psd

.ssh
.coverage
.coveragerc
.pylintrc

webpack*

common/management/commands/grab/*