{% extends "main.html" %} 
{% load static django_bootstrap_breadcrumbs cache filesize filename %} 

{% block head %}
  <title>Прайс-лист | Viride - садово-парковые растения</title>
  <meta property="og:title" content="Прайс-лист | Viride - садово-парковые растения">
  <meta name="description" content="Прайс-лист">
  <meta property="og:description" content="Прайс-лист">
  <meta property="og:type" content="website">
{% endblock %} 

{% block breadcrumb %}
{% breadcrumb_for '/' %}<i class="fas fa-home"></i>{% endbreadcrumb_for %}
{% breadcrumb_for 'price_list_detail' %}Прайс-лист{% endbreadcrumb_for %}
{% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block name %}
Прайс-лист
{% endblock %}

{% block content %}
<div class="container-fluid px-3 px-md-5">
  <div class="row">
    <div class="col-12">

      {% include 'common/empty.html' %}

      {% comment %} {% if object.file_path %}
      <div class="table-responsive">
        <table class="table table-responsive align-middle">
          <thead class="table-dark">
          <tr>
            <td>
                Файл
            </td>
            <td class="text-center">
                Размер
            </td>
          </tr>
          </thead>
        <tbody>
          <tr>
            <td>
                <a class="lh-sm border-bottom-0" href="{% get_media_prefix %}{{ object.file_path }}" title="{{ object.file_path.path|get_filename }}">{{ object.file_path.path|get_filename }}</a>
            </td>
            <td class="text-center">
                <small>{{ object.file_path.size|get_filesize }}</small>
            </td>
          </tr>
          <tr>
            <td>
                <a class="lh-sm border-bottom-0" href="{% get_media_prefix %}{{ object.arc_path }}" title="{{ object.arc_path.path|get_filename }}">{{ object.arc_path.path|get_filename }}</a>
            </td>
            <td class="text-center">
                <small>{{ object.arc_path.size|get_filesize }}</small>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
      {% else %}
        {% include 'common/empty.html' %}
      {% endif %} {% endcomment %}

    </div>
  </div>
</div>
{% endblock %}
2