{% extends "account/email/base_message.html" %}

{% block content %}
{% autoescape off %}

<p>Вы получили это письмо, потому что вы или кто-то другой пытались зарегистрировать учетную запись, используя адрес 
электронной почты: {{ email }}.</p>

<p>Однако учетная запись с таким адресом электронной почты уже существует.</p>

<p>В случае, если вы вы забыли об этом, воспользуйтесь процедурой "Сброс пароля", чтобы восстановить свою учетную запись:</p>
<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>.

{% endautoescape %}
{% endblock content %}

