{% extends "account/email/base_message.html" %}

{% block content %}
{% autoescape off %}
<p>Благодарим вас за регистрацию на сайте «Viride - садово парковые растения». Ваша учётная запись создана, но должна быть активирована прежде, чем вы сможете ею воспользоваться.
Чтобы активировать учётную запись, перейдите по ссылке ниже, или скопируйте её в адресную строку браузера:</p>
<a href="{{ activate_url }}">{{ activate_url }}</a>

<p>После активации вы сможете входить на сайт <a href="https://viride.spb.ru">«{{ current_site.name }}»</a>.</p>
{% endautoescape %}
{% endblock content %}