{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block content %}
{% autoescape off %}

<p>Вы получили это письмо, потому что вы или кто-то другой запросили сброс пароля для вашей учетной записи. 
Однако нашей базе данных ничего не известно о пользователе с электронной почтой {{ email }}.</p>

<p>Если это были не вы, просто проигнорируйте это письмо.</p>
<p>Если же это всё-таки были вы, вы можете зарегистрировать аккаунт по ссылке ниже:</p>

<a href="{{ signup_url }}">{{ signup_url }}</a>

{% endautoescape %}
{% endblock content %}
