<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>404 - файл не найден!</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="../../static/assets/css/errors.css" type="text/css" />
    <style>
      body {
        background: url(/static/images/background/bg404.jpg) no-repeat #689aff;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <div>
            <div class="content">
              <h1>404<span>- файл не найден!</span></h1>
              <p>Возможно, эта страница была удалена, переименована, или временно недоступна.</p>
              <p>Попробуйте следующее:</p>
              <ul>
                <li>Проверьте правильность адреса страницы в строке адреса.</li>
                <li>
                  Перейдите на <a href="/">главную страницу</a> и используйте навигацию, чтобы найти ссылки на нужные Вам данные.
                </li>
                <li>
                  Нажмите кнопку <a href="javascript:history.back()">назад</a>, чтобы использовать другую ссылку.
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
