{% extends 'main.html' %}
{% load thumbnail django_bootstrap_breadcrumbs static %}

{% block head %}
  <title>Розы разных сортов по приятной цене | Вириде - питомник растений</title>
  <meta property="og:title" content="Розы разных сортов по приятной цене | Viride - питомник садово-парковых растений">
  <meta name="description" content="Заказать канадские, английские, мускусные, миниатюрные, плетистые, парковые, почвопокровные, полиантовые и чайно-гибридные розы в питомнике. Хороший выбор и приятные цены.">
  <meta property="og:description" content="Заказать канадские, английские, мускусные, миниатюрные, плетистые, парковые, почвопокровные, полиантовые и чайно-гибридные розы в питомнике. Хороший выбор и приятные цены.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ host }}{% url 'roses:list' %}">
{% endblock %}

{% block name %}
  Розы
{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'catalog_item_list' %}Каталог{% endbreadcrumb_for %}
  {% breadcrumb_for 'roses:list' %}Розы{% endbreadcrumb_for %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block content %}
  {% comment %} {% include 'common/listview/filters.html' %} {% endcomment %}

  <div class="container-fluid px-3 px-md-5">
  <form>
      <div class="row mb-4">
          {{ per_page }}
          {% comment %} {{ genus_filter }} {% endcomment %}
          {{ species_filter }}
      </div>
  </form>
  </div>



  <div class="container-fluid px-3 px-md-5">
    <div class="row">
      <div class="col-12">
        {% include 'common/listview/cards.html' %}
        {% include 'pagination.html' %}
      </div>
    </div>
  </div>
{% endblock %}
