{% extends 'main.html' %}
{% load thumbnail django_bootstrap_breadcrumbs static %}

{% block head %}
  <title>Розы | Viride - садово-парковые растения</title>
  <meta property="og:title" content="Розы | Viride - садово-парковые растения" />
  <meta name="description" content="Розы" />
  <meta property="og:description" content="Розы" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ host }}{% url 'roses:list' %}" />
{% endblock %}

{% block breadcrumb_name %}
  Розы
{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home text-white"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'catalog_item_list' %}Каталог{% endbreadcrumb_for %}
  {% breadcrumb_for 'roses:list' %}Розы{% endbreadcrumb_for %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block content %}
  <div class="row mx-2">
    <div class="col-12">
      <form class="row gx-4 align-items-center">{{ per_page }}</form>
      {{ species_filter }}
      {% include 'common/listview/cards.html' %}
      {% include 'pagination.html' %}
    </div>
  </div>
{% endblock %}
