{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="{% static 'images/carousel/img1.jpg' %}" class="d-block w-100" alt="Арония черноплодная (Черноплодная рябина)">
        <div class="carousel-caption bg-eclipse d-none d-md-block">
        <h5>АРОНИЯ ЧЕРНОПЛОДНАЯ</h5>
        <p>Плодовое дерево или кустарник, вид рода Арония семейства Розовые.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'images/carousel/img2.jpg' %}" class="d-block w-100" alt="Барбарис Тунберга">
        <div class="carousel-caption bg-eclipse d-none d-md-block">
        <h5>БАРБАРИС ТУНБЕРГА</h5>
        <p>Кустарник, вид рода Барбарис семейства Барбарисовые. В природе ареал вида охватывает Дальний Восток.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'images/carousel/img3.jpg' %}" class="d-block w-100" alt="Спирея березолистная (Spiraea betulifolia Pall)">
        <div class="carousel-caption bg-eclipse d-none d-md-block">
        <h5>СПИРЕЯ БЕРЕЗОЛИСТНАЯ</h5>
        <p>В природе спирею березолистную можно увидеть в Восточной Сибири, на Дальнем Востоке, в Японии, Корее.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>