{% extends "index/main.html" %}
{% load markdownify %}

{% block head %}
  {% include 'head.html' %}
  {% comment %} <meta property="og:url" content="{{host}}{% url 't-r_list' %}"> {% endcomment %}
{% endblock %} 

{% block content %}
{% comment %} <div class="col-12"> {% endcomment %}
    {% comment %} <div class="container mt-3"> {% endcomment %}
        <div class="row mt-4 mx-2">
      <h1>{{object.name}}</h1>

        {% with object_list=showcase1%}
          {% include 'common/listview/cards.html' %}
        {%endwith%}

<section class="about-us">
  {% comment %} <div class="container"> {% endcomment %}
    <div class="section-title">
      <h2>О нас</h2>
    </div>
    <div class="row">
      {{object.about_us|markdownify}}
      {% comment %} <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
      <p>Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики.
      <p>Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу.
      <p>Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный риторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись.
      <p>Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь.
      <p>Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его языком и речью и заманивший в свое агенство, которое использовало его снова и снова в своих проектах. И если его не переписали, то живет он там до сих пор. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая {% endcomment %}
    </div>
  {% comment %} </div> {% endcomment %}
</section>


<section class="advantages">
  {% comment %} <div class="container"> {% endcomment %}
    <div class="section-title">
      <h2>Наши преимущества</h2>
    </div>
    <div class="row">
    <div class="col-md-6">
      <div class="h-100 d-flex p-3">
        <div class="btn-lg-square flex-shrink-0 mt-2">
          <i class="fab fa-envira fa-2x fa-fw"></i>
        </div>
        <div class="ms-4">
          <p class="mb-1 fw-bold text-secondary">Ассортимент</p>
          Наш питомник насчитывает более 500 наименований хвойных и лиственных деревьев, кустарников и цветов.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="h-100 d-flex p-3">
        <div class="btn-lg-square flex-shrink-0 mt-2">
          <i class="fas fa-users fa-2x fa-fw"></i>
        </div>
        <div class="ms-4">
          <p class="mb-1 fw-bold text-secondary">Сервис</p>
          Менеджеры питомника всегда проконсультируют Вас по ассортименту, ценам и дополнительным услугам.
        </div>
      </div>
    </div>


    </div>
  {% comment %} </div> {% endcomment %}
</section>

        {% with object_list=showcase2%}
          {% include 'common/listview/cards.html' %}
        {%endwith%}
        
            {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
</div>
{% endblock %}


