{% extends 'index/main.html' %}
{% load markdownify cache %}

{% block head %}
<title>{{ object.head_title }}</title>
<meta property="og:title" content="{{ object.head_title }}">
<meta name="description" content="{{ object.meta_description }}">
<meta property="og:description" content="{{ object.meta_description }}">
<meta property="og:type" content="website">
{% endblock %}

{% block content %}
{% cache cache_timeout index_detail %}
  <section class="main">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h1>{{ object.name }}</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
        {{ object.description|markdownify }}
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <div class="h-100 d-flex">
            <div class="btn-lg-square flex-shrink-0 mt-2">
              <i class="fab fa-envira fa-2x fa-fw"></i>
            </div>
            <div class="ms-4">
              <p class="mb-1 text-secondary">Ассортимент</p>Наш питомник насчитывает более 500 наименований хвойных и лиственных деревьев, кустарников и цветов.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="h-100 d-flex">
            <div class="btn-lg-square flex-shrink-0 mt-2">
              <i class="fas fa-users fa-2x fa-fw"></i>
            </div>
            <div class="ms-4">
              <p class="mb-1 text-secondary">Сервис</p>Менеджеры питомника всегда проконсультируют Вас по ассортименту, ценам и дополнительным услугам.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if object.con_visible %}
  <section class="main con d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>{{ object.con_name }}</h2>
        <h6>{{ object.con_short_description }}</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {% with object_list=qs_con %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
        <div class="col-lg-6">
          {{ object.con_description|markdownify }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  
  {% if object.dec_visible %}
  <section class="main dec d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>{{ object.dec_name }}</h2>
        <h6>{{ object.dec_short_description }}</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {{ object.dec_description|markdownify }}
        </div>
        <div class="col-lg-6">
          {% with object_list=qs_dec %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  
  {% if object.per_visible %}
  <section class="main per d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>{{ object.per_name }}</h2>
        <h6>{{ object.per_short_description }}</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {% with object_list=qs_per %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
        <div class="col-lg-6">
          {{ object.per_description|markdownify }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if object.fru_visible %}
  <section class="main fru d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>{{ object.fru_name }}</h2>
        <h6>{{ object.fru_short_description }}</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {{ object.fru_description|markdownify }}
        </div>
        <div class="col-lg-6">
          {% with object_list=qs_fru %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

{% endcache %}
{% endblock %}
