{% extends 'index/main.html' %}
{% load markdownify %}

{% block head %}
  {% include 'head.html' %}
  {% comment %} <meta property="og:url" content="{{ host }}{% url 't-r_list' %}" /> {% endcomment %}
{% endblock %}

{% block content %}
  <section class="main">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h1>{{ object.name }}</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
        {{ object.description|markdownify }}
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <div class="h-100 d-flex">
            <div class="btn-lg-square flex-shrink-0 mt-2">
              <i class="fab fa-envira fa-2x fa-fw"></i>
            </div>
            <div class="ms-4">
              <p class="mb-1 text-secondary">Ассортимент</p>Наш питомник насчитывает более 500 наименований хвойных и лиственных деревьев, кустарников и цветов.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="h-100 d-flex">
            <div class="btn-lg-square flex-shrink-0 mt-2">
              <i class="fas fa-users fa-2x fa-fw"></i>
            </div>
            <div class="ms-4">
              <p class="mb-1 text-secondary">Сервис</p>Менеджеры питомника всегда проконсультируют Вас по ассортименту, ценам и дополнительным услугам.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if object.con_visible %}
  <section class="main con d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>{{ object.con_name }}</h2>
        <h6>{{ object.con_short_description }}</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {% with object_list=con %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
        <div class="col-lg-6">
          {{ object.con_description|markdownify }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  
  {% if object.dec_visible %}
  <section class="main dec d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>{{ object.dec_name }}</h2>
        <h6>{{ object.dec_short_description }}</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {{ object.dec_description|markdownify }}
        </div>
        <div class="col-lg-6">
          {% with object_list=dec %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  
  {% if object.per_visible %}
  <section class="main per d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>{{ object.per_name }}</h2>
        <h6>{{ object.per_short_description }}</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {% with object_list=per %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
        <div class="col-lg-6">
          {{ object.per_description|markdownify }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if object.fru_visible %}
  <section class="main fru d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>{{ object.fru_name }}</h2>
        <h6>{{ object.fru_short_description }}</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {{ object.fru_description|markdownify }}
        </div>
        <div class="col-lg-6">
          {% with object_list=fru %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% comment %} <section class="main con d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>Хвойные растения</h2>
        <h6>Хвойные – благородные растения, которые позволяют саду оставаться привлекательным и зеленым круглый год.</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {% with object_list=con %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
        <div class="col-lg-6">
          <p>Деревья и кустарники хвойных пород смотрятся эффектно, как в просторных парках, садах, так и на небольших приусадебных участках. Почти все хвойные – вечнозеленые, только некоторые их виды, например, лиственница, сбрасывают хвою на зиму. Остальные растения «обновляют» хвою постепенно – один раз в несколько лет отживающие хвоинки опадают, а на их месте вырастают новые.</p>
          <p>Декоративные хвойные растения для сада очень популярны в ландшафтном озеленении. Они выносливы, морозоустойчивы, имеют красивую четкую форму и неприхотливы в уходе.</p>
          <p>Планируя украсить свой участок хвойными растениями, надо внимательно подойти к их выбору. Перед покупкой необходимо определить:</p>
          <ul>
            <li>размещение дерева или кустарника на участке;</li>
            <li>порядок построения композиции;</li>
            <li>климатические условия региона и почвенный состав участка.</li>
          </ul>
          <p>Исходя из вышеперечисленных критериев, подбирается вид, сорт и форма хвойного растения.</p>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  {% comment %} <section class="main d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>Лиственные растения</h2>
        <h6>Лиственные деревья и кустарники – это обычно растения с черешковыми пластинчатыми листьями, у которых имеется явное разветвленное жилкование. Листовые пластинки у них бывают простыми, лопастными или зубчатыми, реже – сложными.</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <p>Если приводить общую классификацию, то лиственные деревья представляют царство растений, отдел высших растений, отдел покрытосеменных (цветочных). К этой категории можно отнести порядка 165 отрядов, 11 тысяч родов, 545 семейств, 260 тысяч видов.</p>
          <p>Лиственные растения появились на Земле значительно позже остальных – во время юрского периода, а в середине мелового достаточно быстро распространились по всей планете. Они имеют совершенное строение тканей, генеративных и вегетативных органов, обладают разнообразными способами опыления (наиболее эффективный из которых – с помощью насекомых) и распространения семян. Сейчас лиственные растения заняли господствующее положение среди других видов растений, поскольку, помимо всего прочего, умеют прекрасно адаптироваться к изменчивым условиям окружающей среды.</p>
          <p>Дуб по праву относится к деревьям-долгожителям: его средний возраст достигает пятисот лет. Из других лиственных деревьев ольха и ясень доживают в среднем до трехсот лет, а осина – до ста. Среди хвойных деревьев только ель может сравниться с дубом по продолжительности жизни, при этом каждая хвоинка живет от пяти до семи лет.</p>
        </div>
        <div class="col-lg-6">
          {% with object_list=dec %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  {% comment %} <section class="main per d-none d-sm-block">
    <div class="container-fluid px-3 px-md-5">
      <div class="title">
        <h2>Многолетние растения</h2>
        <h6>Непременными представителями деревенского сада являются многолетние цветы.</h6>
      </div>
      <div class="row">
        <div class="col-lg-6">
          {% with object_list=per %}
            {% include 'index/cards.html' %}
          {% endwith %}
        </div>
        <div class="col-lg-6">
          <p>Эти растения сочетают в себе столько ценных качеств, что представить без них сад уже просто невозможно! Они долго, обильно и эффектно цветут, у них листья декоративны не меньше цветов. При всем при этом многолетние цветы - долгожители сада, посадка и уход не составит трудностей ,они устойчивы к заболеваниям, не требуют ежедневного ухода, не боятся морозов, а самое главное - их не нужно каждый год по-новой высевать и разводить!</p>
          <p>Те же самые слова можно в полной мере отнести и к многолетним декоративным кустарникам.</p>
          <p>Считается, что самое подходящее время для посадки многолетних садовых цветов - весна. Однако все растения в горшках с закрытой корневой системой вы можете высаживать и в другое время, но, разумеется, не в промерзлую почву. Ведь если многолетние цветы росли в контейнерах довольно долго, значит, успели сформировать мощную корневую систему. Это поможет им пережить жару и практически без паузы продолжить рост. Важно не забывать обильно поливать посаженные садовые цветы в первые три недели . Многие многолетники хорошо переносят пересадку и в августе. Они еще до наступления холодов успевают сформировать полноценную корневую систему, но делить их можно и весной, тогда времени для адаптации у многолетников будет гораздо больше.</p>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
{% endblock %}
