<div class="row">
  <div class="col-7 pe-0">
    <a href="{% url 'decs:list' %}" class="dropdown-item" itemprop="url">Лиственные растения</a>
    <a href="{% url 'fruits:list' %}" class="dropdown-item" itemprop="url">Плодовые растения</a>
    <a href="{% url 'conifers:list' %}" class="dropdown-item" itemprop="url">Хвойные растения</a>
    <a href="{% url 'pers:list' %}" class="dropdown-item" itemprop="url">Многолетники</a>
    <a href="{% url 'roses:list' %}" class="dropdown-item" itemprop="url">Розы</a>
    <a href="{% url 'related_list' %}" class="dropdown-item" itemprop="url">Сопутствующие товары</a>
    <a href="{% url 'book_list' %}" class="dropdown-item" itemprop="url">Книги</a>
  </div>
  <div class="col-5 ps-0">
    <a href="{% url 'pers:list' %}?genus=19" class="dropdown-item" itemprop="url">Флоксы</a>
    <a href="{% url 'pers:list' %}?genus=20" class="dropdown-item" itemprop="url">Ирисы</a>
    <a href="{% url 'pers:list' %}?genus=21" class="dropdown-item" itemprop="url">Пионы</a>
    <a href="{% url 'pers:list' %}?genus=22" class="dropdown-item" itemprop="url">Хосты</a>
    <a href="{% url 'pers:list' %}?genus=25" class="dropdown-item" itemprop="url">Злаки</a>
    <a href="{% url 'decs:list' %}?genus=24" class="dropdown-item" itemprop="url">Гортензии</a>
    <a href="{% url 'decs:list' %}?genus=23" class="dropdown-item" itemprop="url">Сирени</a>
  </div>
</div>
