{% load static %}

{% comment %} <nav class="navbar navbar-expand-lg bg-white navbar-light pt-lg-3 pb-lg-4 px-4 px-lg-5"> {% endcomment %}
<nav class="navbar navbar-expand-md navbar-light px-3 px-md-5 pt-md-0 pt-lg-2 pb-md-2 pb-lg-3 bg-ter-opacity">
  <a href="/" class="navbar-brand border-bottom-0"><img src="{% static 'images/logo.svg' %}" width="140" alt="Питомник растений Вириде"></a>
  <button type="button" class="navbar-toggler pe-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse py-lg-0" id="navbarCollapse">
    <div class="navbar-nav ms-auto">
      {% comment %} <a href="#" class="nav-item nav-link" itemprop="url" disabled>Покупателям</a> {% endcomment %}

      <div class="nav-item dropdown">
        <a href="{% url 'catalog_item_list' %}" class="nav-link dropdown-toggle d-none d-md-block" aria-expanded="false">Каталог</a>
        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
          {% include 'navbar/menu.html' %}
        </div>

        <a href="{% url 'catalog_item_list' %}" class="nav-link dropdown-toggle d-block d-md-none" data-bs-toggle="dropdown" aria-expanded="false">Каталог</a>
        <div class="dropdown-menu rounded-0 rounded-bottom m-0">
          {% include 'navbar/menu.html' %}
        </div>
      </div>

      <a href="{% url 'sale_list' %}" class="nav-item nav-link" itemprop="url">Распродажа</a>
      <a href="{% url 'contacts' %}" class="nav-item nav-link" itemprop="url">Контакты</a>
      <a href="#" class="nav-item nav-link disabled" itemprop="url">Загрузить прайс</a>
      {% comment %} <a href="#" class="nav-item nav-link disabled" itemprop="url"><i class="far fa-file-excel fa-lg text-primary"></i> Загрузить прайс</a> {% endcomment %}
      {% comment %} <a href="{% get_media_prefix %}documents/price-list-viride.xlsx" class="nav-item nav-link" itemprop="url"><i class="far fa-file-excel fa-lg text-primary"></i> Загрузить прайс</a> {% endcomment %}
    </div>
  </div>
</nav>
