{% load getprice %}
{% if price_set %}
<table class="table table-responsive table-price mt-3">
    <thead>
        <tr>
        <th>Параметры</th>
        <th class="text-end">Цена</th>
        </tr>
    </thead>
    <tbody>
    {% for object in price_set %}
    <tr>
        <td>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"{% if forloop.first %} checked{% endif %}>
            <label class="form-check-label" for="flexRadioDefault">
                {% get_price_params object %}
                {% get_price_params_popover object as popover %}
                {% if popover %}
                <i class="far fa-question-circle fa-xs info" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{popover}}"></i>
                {% endif %}
            </label>
            </div>
        </td>
        <td class="text-end">
        {{ object.price }} руб.
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<button type="button" class="btn btn-primary">Добавить в корзину</button>