{% extends 'main.html' %}
{% load thumbnail django_bootstrap_breadcrumbs month_genitive %}
{% block head %}
  <title>Распродажа | Viride - садово-парковые растения</title>
  <meta property="og:title" content="Распродажа | Viride - садово-парковые растения">
  <meta name="description" content="Распродажа">
  <meta property="og:description" content="Распродажа">
  <meta property="og:type" content="website">
{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'sales' %}Распродажа{% endbreadcrumb_for %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block name %}
  Распродажа
{% endblock %}

{% block content %}


<div class="container-fluid px-3 px-md-5">
  <div class="row">
    <ul class="nav nav-tabs" id="salesTab">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="discount-tab" data-bs-target="#discount" aria-controls="discount" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Скидки</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="promotion-tab" data-bs-target="#promotion" aria-controls="promotion" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Акции</button>
      </li>
    </ul>
    <div class="tab-content" id="salesTabContent">
      <div class="tab-pane fade show active py-3" id="discount" role="tabpanel" aria-labelledby="discount-tab">
        {% include 'sales/discounts.html' %}
      </div>
      <div class="tab-pane fade py-3" id="promotion" role="tabpanel" aria-labelledby="promotion-tab">
        {% include 'sales/promotions.html' %}
      </div>
    </div>
  </div>
</div>

{% comment %} <div class="container-fluid px-3 px-md-5">
  <div class="row">
    <ul class="nav nav-tabs" id="salesTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="discount-tab" data-bs-target="#discount" aria-controls="discount" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Скидки</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="promotion-tab" data-bs-target="#promotion" aria-controls="promotion" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Акции</button>
      </li>
    </ul>
    <div class="tab-content" id="salesTabContent">
      <div class="tab-pane fade show active py-3" id="discount" role="tabpanel" aria-labelledby="discount-tab">
        {% include 'sales/discounts.html' %}
      </div>
      <div class="tab-pane fade py-3" id="promotion" role="tabpanel" aria-labelledby="promotion-tab">
        {% include 'sales/promotions.html' %}
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock %}
