{% extends "base.html" %}
{% load thumbnail markdownify %}

{% block content %}
<div class="section">
    <div class="container-fluid">
        <div class="section-title">
        <h1>{{ object.name }}</h1>
        </div>

<div class="row">
        <div class="col-12 col-md-5">

                    <div id="carouselExampleIndicators" class="carousel slide">
                                <div class="carousel-inner">
                                    {% comment %} <div class="carousel-item active">
                                    <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="..." class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="..." class="d-block w-100" alt="...">
                                    </div> {% endcomment %}

                                    {% for image in object.images.all %}
                                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                    <img src="{{ image.path|thumbnail_url:'detail' }}" class="d-block w-100" alt="...">
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="carousel-indicators">
                                    {% for image in object.images.all %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="thumbnail{% if forloop.first %} active{% endif %}"
                                    {% if forloop.first %} aria-current="true"{% endif %} 
                                    aria-label="{{forloop.counter}}">
                                        <img src="{{ image.path|thumbnail_url:'detail_thumbnail' }}" class="d-block w-100" alt="...">
                                    </button>
                                    {% endfor %}
                                </div>

                                {% comment %} <ol class="carousel-indicators">
                                    {% for image in object.images.all %}
                                    <li type="button" data-bs-target="#carouselExampleIndicators" 
                                    data-bs-slide-to="{{ forloop.counter0 }}" 
                                    class="thumbnail{% if forloop.first %} active{% endif %}"
                                    {% if forloop.first %} aria-current="true"{% endif %} 
                                    aria-label="{{forloop.counter}}">
                                        <img src="{{ image.path|thumbnail_url:'detail_thumbnail' }}" class="d-block w-100" alt="...">
                                </li>
                                    {% endfor %}
                                </ol> {% endcomment %}






                    </div>

        </div>
        <div class="col-12 col-md-7">

            <p>{{object.short_description}}</p>
            <p>Высота: {{object.height}}</p>
            <p>Ширина: {{object.width}}</p>
            <p>Достоинства:
            {% for advantage in object.advantages.all %}
                {{advantage.name}}{% if forloop.last %}.{% else %}, {% endif%}
            {% endfor %}
            </p>

            <p>Особенности: {{object.features}}</p>
            
            {% for price in object.coniferproductprice_set.all %}
                {{ price.container }}
                {{ price.height }}
                {{ price.rs }}
                {{ price.quality }}
                {{ price.price }}
            {% endfor %}

            

        </div>
</div>

<div class="row">
        <div class="col-12">
        <p>{{object.description|markdownify}}</p>
        </div>
</div>



</div>
</div>
{% endblock %}