{% extends "main.html" %}
{% load thumbnail markdownify django_bootstrap_breadcrumbs cache %}

{% block head %}
  {% include 'head.html' %}
  {% comment %} <meta property="og:url" content="{{host}}{% url 't-r_list' %}"> {% endcomment %}
{% endblock %} 

{% block name %}
{{ object.name }}
{% endblock %}

{% block breadcrumb %}
{% comment %} <nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home text-white"></i></a></li>
    <li class="breadcrumb-item"><a href="{% url 'catalog_item_list' %}">Каталог</a></li>
    <li class="breadcrumb-item"><a href="{% url 'conifers:list' %}">Хвойные растения</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
</ol>
</nav> {% endcomment %}

{% breadcrumb_for '/' %}<i class="fas fa-home"></i>{% endbreadcrumb_for %}
{% breadcrumb_for 'catalog_item_list' %}Каталог{% endbreadcrumb_for %}
{% breadcrumb_for 'conifers:list' %}Хвойные растения{% endbreadcrumb_for %}
{% breadcrumb_for 'conifers:detail' object.slug %}{{ object.name }}{% endbreadcrumb_for %}
{% render_breadcrumbs 'breadcrumb.html' %}

{% endblock%}

{% block content %}
{% cache cache_timeout coniferproduct_detail object.id %}
<div class="container-fluid px-3 px-md-5">
    <div class="row">
        <div class="col-12 col-md-4">
            {% include 'common/detailview/images_gallery.html' %}
        </div>
        <div class="col-12 col-md-8">
            <p>{{object.short_description}}</p>

            {% if object.scientific_name %}
            <p class="detail-property"><span>Научное название:</span> {{object.scientific_name}}</p>
            {% endif %}
            
            {% if object.needles %}
            <p class="detail-property"><span>Хвоя:</span> {{object.needles}}</p>
            {% endif %}
            
            {% include 'common/detailview/adult_plant_size.html' %}

            {% if object.height10 or object.width10 %}
                <p class="detail-property"><span>Размеры растения в 10 лет:</span> 
                    {% if object.height10 %}высота {{object.height10}}{% if object.width10 %},{%else%}.{% endif %}{% endif %}
                    {% if object.width10 %}ширина {{object.width10}}.{% endif %}
                </p>
            {% endif %}

            {% if object.height1 or object.width1 %}
                <p class="detail-property"><span>Годовой прирост:</span> 
                    {% if object.height1 %}высота {{object.height1}}{% if object.width1 %},{%else%}.{% endif %}{% endif %}
                    {% if object.width1 %}ширина {{object.width1}}.{% endif %}
                </p>
            {% endif %}

            {% if object.planting.all %}
                <p class="detail-property"><span>Место посадки:</span>
                {% for planting in object.planting.all %}
                    {{planting.name}}{% if not forloop.last %}, {% endif%}
                {% endfor %}
                </p>
            {% endif %}

            {% if object.shelter_winter %}
                <p class="detail-property"><span>Укрытие на зиму:</span> {{object.shelter_winter}}</p>
            {% endif %}

            {% if object.winter_zone %}
                <p class="detail-property"><span>Зона зимостойкости в градусах:</span> {{object.winter_zone}}</p>
            {% endif %}

            {% if object.advantages.all %}
            <p class="detail-property"><span>Достоинства:</span>
            {% for advantage in object.advantages.all %}
                {{advantage.name}}{% if not forloop.last %}, {% endif%}
            {% endfor %}
            </p>
            {% endif %}

            {% if object.features%}
            <p class="detail-property"><span>Особенности:</span> {{object.features}}</p>
            {%endif%}

            {% with object_set_all=object.prices.all %}
                {% include 'common/detailview/add_to_cart.html' %}
            {% endwith %}
    	</div>

        <div class="row">
            <div class="col-12">
                <p>{{object.description|safe}}</p>
            </div>
        </div>
    </div>
</div>
{% include 'common/detailview/recommended.html' %}
{% endcache %}
{% endblock %}