{% extends 'main.html' %}
{% load thumbnail django_bootstrap_breadcrumbs crispy_forms_tags static %}

{% block head %}
  <title>Хвойные растения по низкой цене | Вириде - питомник растений</title>
  <meta property="og:title" content="Хвойные растения по низкой цене | Viride - питомник садово-парковых растений">
  <meta name="description" content="Купить ель, кипарисовик, лиственницу, микробиоту, можжевельник, пихту, псевдоцсугу, сосну, тисс, тсугу и тую в питомнике. Большой выбор и низкие цены.">
  <meta property="og:description" content="Купить ель, кипарисовик, лиственницу, микробиоту, можжевельник, пихту, псевдоцсугу, сосну, тисс, тсугу и тую в питомнике. Большой выбор и низкие цены.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ host }}{% url 'conifers:list' %}">
{% endblock %}

{% block name %}
  Хвойные растения
{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'catalog_item_list' %}Каталог{% endbreadcrumb_for %}
  {% breadcrumb_for 'conifers:list' %}Хвойные растения{% endbreadcrumb_for %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block content %}
  {% comment %} {% include 'common/listview/filters.html' %} {% endcomment %}

  <div class="container-fluid px-3 px-md-5">
  <form>
      <div class="row align-items-end mb-4">
          {{ per_page }}
          <div class="col-5 col-sm-4 col-md-3 col-lg-2">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConiferFilterForm" aria-expanded="false" aria-controls="collapseConiferFilterForm">
            <i class="fas fa-sliders-h me-2" style="color:white;"></i> Фильтры
          </button>
          </div>
      </div>
  </form>
  </div>
  
  <div class="collapse" id="collapseConiferFilterForm">
    <div class="container-fluid px-3 px-md-5">
      <div class="row">
        <div class="col-12">
            {% crispy form %}{% csrf_token %}
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid px-3 px-md-5">
    <div class="row">
      <div class="col-12">
        {% include 'common/listview/cards.html' %}
        {% include 'pagination.html' %}
      </div>
    </div>
  </div>
{% endblock %}
