  <div class="container-fluid px-3 px-md-5 py-3 bg-fru-opacity">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Здравствуйте, уважаемые покупатели!</h3>
        <p class="mb-1">Как Вы заметили, мы полностью поменяли наш сайт. Сейчас он находится на этапе тестирования, поэтому возможны некоторые неполадки.</p>
        <p class="mb-1">Заказы мы начнем принимать с <span class="text-danger">3 апреля</span>. На настоящий момент цены и наличие (наши и заказанные растения) полностью правильны в разделах: многолетники, хвойные, плодовые и розы. Лиственные растения исправляются и добавляются.</p>
      </div>
    </div>
  </div>