  <div class="container-fluid px-3 px-md-5 py-3 bg-notice">
    <div class="row">
      <div class="col-12 text-center">
        {% comment %} <h3>Уважаемые покупатели, питомник откроется - 29 апреля.</h3> {% endcomment %}
        <h3>Уважаемые покупатели, наш питомник откроется в первые выходные мая.</h3>
        <p>Предварительные заказы мы начнем принимать с апреля, тогда же на сайте будут актуальные цены.
        Сейчас цены прошлого сезона.  Но планируемое наличие актуально в разделах: многолетники, розы и плодовые. Лиственные и хвойные редактируются.</p>
      </div>
    </div>
  </div>