<footer class="footer mt-auto bg-light">
  {% comment %} <div class="container px-4 px-sm-0">
    <div class="row mt-3">
      <div class="col-md-6">
        Питомник плодовых и декоративных растений в Гатчинском районе. Более 500 видов растений. Присоединяйтесь к нашему сообществу в социальных сетях и следите за новостями!
      </div>
      <div class="col-md-6 mt-2 mt-md-0 text-md-end">
        <div class="mb-2">
          розница <i class="fas fa-phone-alt"></i><a href="tel:+79516674509">+7 (951) 667-45-09</a>, 
          опт <i class="fas fa-phone-alt"></i><a href="tel:+79658191316">+7 (965) 819-13-16</a>
        </div>
        <div class="mb-2">
          <i class="far fa-envelope"></i><a href="mailto:info@viride.spb.ru">info@viride.spb.ru</a>
        </div>

        <div class="mb-2">
            <i class="fa fa-map-marker-alt"></i>
            Лен. обл., Гатчинский район, д. Борницы
        </div>
        <div class="mb-2">
            <i class="far fa-clock"></i>
            Пн-Сб: 09:00 - 18:00, Вс: <span class="text-danger fw-bold">выходной</span>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <div class="container px-4 px-sm-0">
    <div class="row copyright">
      <div class="col-md-6">
        <i class="far fa-copyright"></i><a href="/">ООО «Вириде»</a>, <span>2016-<script>document.write(new Date().getFullYear());</script></span>. Все права защищены.
      </div>
      <div class="col-md-6 mt-2 mt-md-0 text-md-end">
        <i class="fas fa-user-shield"></i><a href="{% url 'p-p_template' %}" rel="noindex, nofollow">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>