{% load static cartquantity work_schedule cache %}
<!-- Topbar Start -->
<section class="bg-ter-opacity">
  <div class="container-fluid mt-2 px-3 px-md-5">
    <div class="row">
      <div class="col-7 col-md-8 d-flex text-start">
        <div class="h-100 d-none d-lg-flex align-items-center me-4">
          <i class="fas fa-map-marker-alt me-2"></i>
          <small>Гатчинский район, д. Борницы</small>
        </div>
        <div class="h-100 d-none d-md-flex align-items-center">
          <i class="far fa-clock me-2"></i>
          {% cache cache_timeout workschedule_header %}
          {% get_work_schedule %}
          {% comment %} {% get_work_schedule as work_schedule %}
          <small>{% include 'contacts/work_schedule.html' %}</small> {% endcomment %}
          {% endcache %}

          {% comment %} <small>Закрыт до мая</small> {% endcomment %}
          {% comment %} <small>Пн-Сб: 09:00 - 18:00, Вс: <span class="text-danger fw-bold">выходной</span></small> {% endcomment %}
          {% comment %} <small>Дата открытия питомника - <span class="text-danger fw-bold">1 мая</span></small> {% endcomment %}
        </div>

        <div class="h-100 d-block d-md-none">
          <form action="{% url 'search' %}" method="GET">
            <div class="input-group input-group-sm">
              {{ search_form.q }}
              <button type="submit" class="input-group-text bg-primary text-light"><i class="fa fa-fw fa-search text-white"></i></button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-5 col-md-4 text-end">
        <div class="h-100 d-inline-flex align-items-center{% if user.is_authenticated %} mt-1{% endif %}">
          <a class="nav-icon d-none d-md-inline me-4 border-bottom-0" href="#" title="Поиск" data-bs-toggle="modal" data-bs-target="#modalSearch"><i class="fas fa-search"></i></a>
          <a class="nav-icon position-relative text-decoration-none border-bottom-0 me-4" href="{% url 'carts:index' %}" id="cartProductQuantity" title="Корзина">
            <i class="fas fa-shopping-cart mr-1"></i>
            <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-tertiary text-light">{% get_cart_quantity %}</span>
          </a>
          {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle" href="#" title="Пользователь" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-circle main-user fa-lg"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'profiles:index' %}"><i class="far fa-user fa-fw"></i> Профиль</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'profiles:order_list' %}"><i class="fas fa-box-open fa-fw"></i> Мои заказы</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'profiles:favorites' %}"><i class="fas fa-heart fa-fw"></i> Избранное</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> Выйти</a>
              </li>
            </ul>
          {% else %}
            {% comment %} <a href="{% url 'account_login' %}?next={{ request.get_full_path }}" style="--bs-btn-padding-y: .125rem; --bs-btn-padding-x: .5rem;" title="Войти" class="btn btn-sm btn-primary" role="button"><i class="fas fa-sign-in-alt text-white"></i><span class="ms-2">Войти</span></a> {% endcomment %}
            <a href="{% url 'account_login' %}?next={{ request.get_full_path }}" title="Войти" class="btn btn-sm btn-primary" role="button"><i class="fas fa-sign-in-alt text-white"></i><span class="ms-2">Войти</span></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Topbar End -->
<!-- Modal -->
<div class="modal fade bg-ter" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="pt-1 mb-2">
      <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times fa-lg"></i></button>
    </div>
    <form action="{% url 'search' %}" method="GET" class="modal-content modal-body bg-ter border-0 p-0">
      <div class="input-group mb-2">
        {{ search_form.q }}
        <button type="submit" class="input-group-text bg-primary text-light"><i class="fa fa-fw fa-search text-white"></i></button>
      </div>
    </form>
  </div>
</div>
<!-- Modal End -->
