{% extends 'base.html' %}
{% block main %}
  {% comment %} <section id="breadcrumb" class="mb-3">
    <div class="breadcrumb-eclipse py-1 pt-md-1 pb-md-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-10">
            <h1 class="text-white mb-0">
              {% block name %}

              {% endblock %}
            </h1>
            {% block breadcrumb %}

            {% endblock %}
          </div>
          <div class="col-12 col-md-2 text-end pe-4">
            <div class="h-100 d-inline-flex align-items-center">

              {% include 'favorites/index.html' %}

              <a class="social" href="https://vk.com/viridecompany" title="В контакте"><i class="fab fa-vk fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  <section id="breadcrumb" class="mb-2 py-3">
      <div class="container-fluid px-3 px-md-5">
        <div class="row">
          <div class="col-12 col-md-10">
            {% block breadcrumb %}{% endblock %}
            <h1 class="mb-0">
              {% block name %}{% endblock %}
            </h1>
          </div>
          <div class="col-12 col-md-2 text-md-end mt-3 mt-md-0">
            <div class="h-100 d-inline-flex align-items-center">
              {% include 'favorites/index.html' %}
              <a class="social border-bottom-0" href="https://vk.com/viridecompany" title="В контакте"><i class="fab fa-vk fa-lg fa-fw"></i></a>
            </div>
          </div>
        </div>
      </div>
  </section>

  {% comment %} <div class="container p-0"> {% endcomment %}
    {% block content %}{% endblock %}
  {% comment %} </div> {% endcomment %}
{% endblock %}
