{% if is_paginated %}
<ul class="pagination pagination-lg pagination-light">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a href="{% if page_obj.number == 2 %}{{ request.path }}{% else %}?{{ page_obj.previous_page_number.querystring }}{% endif %}" class="page-link">&laquo;</a>
    </li>
    {% endif %}
    {% for page in page_obj.pages %}
        {% if page %}
            {% if page == page_obj.number %}
                <li class="page-item active">
                    <a href="#" class="page-link">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="{% if page == 1 %}{{ request.path }}{% else %}?{{ page.querystring }}{% endif %}" class="page-link">{{ page }}</a>
                </li>
            {% endif %}
        {% else %}
            <li class="page-item disabled dots">
                <span class="page-link">...</span>
            </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?{{ page_obj.next_page_number.querystring }}" class="page-link">&raquo;</a>
        </li>
    {% endif %}
</ul>
{% endif %}