{% extends 'main.html' %}
{% load thumbnail django_bootstrap_breadcrumbs static %}

{% block head %}
  <title>Лиственные растения по разумной цене | Вириде - питомник растений</title>
  <meta property="og:title" content="Лиственные растения по разумной цене | Viride - питомник садово-парковых растений">
  <meta name="description" content="Приобрести барбарис, березу, бузину, виноград, вишню, вяз, гортензию, дуб, зверобой, иву, клен, липу, рябину, смородину, тополь и черемуху в питомнике. Широкий выбор и разумные цены.">
  <meta property="og:description" content="Приобрести барбарис, березу, бузину, виноград, вишню, вяз, гортензию, дуб, зверобой, иву, клен, липу, рябину, смородину, тополь и черемуху в питомнике. Широкий выбор и разумные цены.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ host }}{% url 'decs:list' %}">
{% endblock %}

{% block name %}
  Лиственные растения
{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'catalog_item_list' %}Каталог{% endbreadcrumb_for %}
  {% breadcrumb_for 'decs:list' %}Лиственные растения{% endbreadcrumb_for %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block content %}
  {% include 'common/listview/filters.html' %}
  <div class="container-fluid px-3 px-md-5">
    <div class="row">
      <div class="col-12">
        {% include 'common/listview/cards.html' %}
        {% include 'pagination.html' %}
      </div>
    </div>
  </div>
{% endblock %}
