{% load static %}
{% spaceless %}
<div class="card mb-3">
    {% for cart_item in cart_items %}
        <div class="card-header">
            <h5 class="card-title">{{ cart_item.product }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <div class="input-group w-auto align-items-center">


        <button type="button" class="btn decrement"
            data-ci-id="{{ cart_item.id }}"
            data-value="-"
            value="{% url "carts:update" %}">
            {% csrf_token %}
            <i class="fas fa-minus"></i>   
        </button>

        {% comment %} <input type="button" value="-" class="border rounded-circle icon-shape icon-sm text-bg-primary" data-field="quantity"> {% endcomment %}
         <input type="number" step="1" max="30" value="{{cart_item.quantity}}" name="quantity" class="form-control number w-25 mx-2">
         {% comment %} <input type="button" value="+" class="border rounded-circle icon-shape icon-sm text-bg-primary" data-field="quantity"> {% endcomment %}

        <button type="button" class="btn increment"
            data-ci-id="{{ cart_item.id }}"
            data-value="+"
            value="{% url "carts:update" %}">
            {% csrf_token %}
            <i class="fas fa-plus"></i> 
        </button>












                            {% comment %} <span class="input-group-btn">
                                <button type="button" class="btn btn-dark btn-sm decrement"
                                    data-cart-id="{{ cart_item.id }}"
                                    data-cart-change-url="{% url "carts:update" %}">
                                    {% csrf_token %}
                                    -</button>
                            </span>
                            <input type="text" class="form-control number" value="{{ cart_item.quantity }}"
                                readonly>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-dark btn-sm increment"
                                    data-cart-id="{{ cart_item.id }}"
                                    data-cart-change-url="{% url "carts:update" %}">
                                    {% csrf_token %}
                                    +</button>
                            </span> {% endcomment %}

                        </div>
                    </div>
                    <div class="col d-flex align-items-center text-center">
                        x {{ cart_item.price }} =
                    </div>
                    <div class="col w-auto align-items-center"><strong> {{cart_item.total_price}} руб.</strong></div>
                    <div class="col w-auto align-items-center">
                        {% comment %} <a href="{% url "carts:remove" %}" class="remove"
                        data-ci-id="{{ cart_item.id }}">
                            {% csrf_token %}
                            <i class="far fa-trash-alt"></i>
                        </a> {% endcomment %}

                        <button type="button" class="btn remove"
                            data-ci-id="{{ cart_item.id }}"
                            value="{% url "carts:remove" %}">
                            {% csrf_token %}
                            <i class="far fa-trash-alt"></i>
                        </button>


                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
</div>
<div class="card mb-3 shadow-lg">
    <div class="card-footer">
        <p class="float-left">Итого товар(а) на сумму</p>
        <h4 class="float-left"><strong>{{ total_price }} руб.</strong></h4>
    </div>
</div>
{% if carts and not orders%}
<a class="btn btn-dark" href="{% url "orders:create_order" %}">
    Оформить заказ
</a>
{% endif %}
{% endspaceless %}