{% load static accepting_orders %}

{% spaceless %}
{% if cart_items %}
  <div class="card border-0 border-bottom">
    <ul class="list-group">
      <li class="list-group-item border-0">
        <div class="row">
          <div class="col-12 col-md-1"></div>
          <div class="col-12 col-md">
            <h6>Наименование</h6>
          </div>
          <div class="col-6 col-sm-4 col-md col-lg-2">
            <h6>Кол-во</h6>
          </div>
          <div class="col-6 col-sm-4 col-md col-lg-2">
            <h6>Цена</h6>
          </div>
          <div class="col-12 col-sm-4 col-md col-lg-2">
            <h6>Сумма</h6>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card border-0 border-bottom">
    {% for cart_item in cart_items %}
      <ul class="list-group">
        <li class="list-group-item border-0">
          <div class="row">
            <div class="col-12 col-md-1 d-flex align-items-center">
              <button type="button" class="btn px-1 remove" data-ci-id="{{ cart_item.id }}" value="{% url 'carts:remove' %}">
                {% csrf_token %}
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
            <div class="col-12 col-md d-flex align-items-center py-1 py-md-0">{{ cart_item.product }}</div>
            <div class="col-6 col-sm-4 col-md col-lg-2 d-flex align-items-center py-1 py-md-0">
              <div class="input-group flex-nowrap">
                <button type="button" class="btn ps-1 pe-3 border-0 decrement" data-ci-id="{{ cart_item.id }}" data-value="-" value="{% url 'carts:update' %}">
                  {% csrf_token %}
                  <i class="fas fa-minus"></i>
                </button>
                {% comment %} <input type="text" class="form-control text-center number px-2" name="quantity" style="flex: 0 1 40px; min-width: 40px;" value="{{ cart_item.quantity }}"> {% endcomment %}
                <input type="text" class="form-control text-center number px-2" name="quantity" style="flex: 0 0 40px;" value="{{ cart_item.quantity }}">
                <button type="button" class="btn ps-3 pe-1 border-0 increment" data-ci-id="{{ cart_item.id }}" data-value="+" value="{% url 'carts:update' %}">
                  {% csrf_token %}
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md col-lg-2 d-flex align-items-center py-1 py-md-0">&times; {{ cart_item.price }} руб.</div>
            <div class="col-12 col-sm-4 col-md col-lg-2 d-flex align-items-center py-1 py-md-0">= {{ cart_item.total_price }} руб.</div>
          </div>
        </li>
      </ul>
    {% endfor %}
  </div>
  <div class="card border-0 mb-4">
      <ul class="list-group">
        <li class="list-group-item border-0 text-bg-light">
          <div class="row py-3">
            <div class="col">
              <h5>Итого: <strong>{{ cart.total_price }} руб.</strong></h5>
            </div>
          </div>
        </li>
      </ul>
  </div>

  {% get_accepting_orders as accepting_orders %}
  
  {% if accepting_orders == 'CLOSE_UNTIL_APRIL' or accepting_orders == 'PRE_ORDER' %}
    <div class="row mb-4">
      <div class="col-12">
        <i class="fas fa-exclamation-triangle fa-lg color-warning"></i>
        {% if accepting_orders == 'CLOSE_UNTIL_APRIL' %}
          Питомник закрыт до мая. Оформление заказов не доступно, <u>цены не актуальны</u>. Мы начнём принимать предварительные заказы в <u>первых числах апреля</u>.
        {% elif accepting_orders == 'PRE_ORDER' %}
          Питомник откроется в начале мая. Сейчас мы принимаем предварительные заказы.
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if user.is_authenticated %}
    <a href="{% url 'orders:create' %}" class="btn btn-primary me-3 {% if accepting_orders == 'CLOSE_UNTIL_APRIL' %}disabled{% endif %}">Оформить заказ</a>
  {% else %}
    {% if cart.user %}
      <a href="{% url 'account_login' %}" class="btn btn-primary me-3">Войти и оформить заказ</a>
    {% else %}
      <a href="{% url 'orders:create' %}" class="btn btn-tertiary {% if accepting_orders == 'CLOSE_UNTIL_APRIL' %}disabled{% endif %}">Оформить заказ без регистрации</a>
    {% endif %}
  {% endif %}
{% else %}
  Ваша корзина пуста.
{% endif %}
{% endspaceless %}