{% extends 'main.html' %}
{% load thumbnail markdownify django_bootstrap_breadcrumbs %}

{% block head %}
  <title>Корзина</title>
{% endblock %}

{% block breadcrumb_name %}
  Корзина
{% endblock %}

{% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home text-white"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'carts:index' %}Корзина{% endbreadcrumb_for %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %}

{% block content %}
  <div class="row mt-3 mx-2">
    <div class="col-12 col-lg-12" id="cartContainer">
      {% include 'carts/cart.html' %}
    </div>
  </div>
{% endblock %}
