<p><strong>Уважаемые клиенты! Обращаем ваше внимание.</strong></p>
<p>Заказанные садово-парковые растения резервируются на срок до 3 рабочих дней.</p>
<p>Вам позвонят с номера телефона указанного ниже. Большая просьба снимать трубку, либо перезванивать позже, если Вы не можете ответить. Мы звоним 3 раза, после этого, заказ перестает обрабатываться.</p>
<p>Информацию о стоимости и наличии растений Вы можете уточнить у менеджера по телефону: +7 (951) 667-45-09.</p>
<p>Режим работы: Пн-Сб: 09:00 - 18:00, Воскресенье: <span style="color:darkred;"><strong>выходной</strong></span>.</p>
