<p><strong>Уважаемые клиенты!</strong><br>
Обращаем ваше внимание.<br> Заказанные садово-парковые растения резервируются на срок до 3 рабочих дней.<br>
Вам позвонят с номера телефона указанного ниже. Большая просьба снимать трубку, либо перезванивать позже, если Вы не можете ответить. Мы звоним 3 раза, после этого, заказ перестает обрабатываться.<br>
Информацию о стоимости и наличии растений Вы можете уточнить у менеджера по телефону: +7 (951) 667-45-09.<br>
Режим работы: Пн-Сб: 09:00 - 18:00, Воскресенье: выходной.</p>