{% load static %}

<div class="card border-0 border-bottom">
  <ul class="list-group">
    <li class="list-group-item border-0">
      <div class="row">
        <div class="col-12 col-md d-flex align-items-center">
          <h6>Наименование</h6>
        </div>
        <div class="col-6 col-sm-4 col-md col-lg-2 d-flex align-items-center">
          <h6>Кол-во</h6>
        </div>
        <div class="col-6 col-sm-4 col-md col-lg-2 d-flex align-items-center">
          <h6>Цена</h6>
        </div>
        <div class="col-12 col-sm-4 col-md col-lg-2 d-flex align-items-center">
          <h6>Сумма</h6>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="card border-0 border-bottom">
  {% for cart_item in cart_items %}
    <ul class="list-group">
      <li class="list-group-item border-0">
        <div class="row">
          <div class="col-12 col-md d-flex align-items-center">{{ cart_item.product }}</div>
          <div class="col-6 col-sm-4 col-md col-lg-2 d-flex align-items-center">{{ cart_item.quantity }}</div>
          <div class="col-6 col-sm-4 col-md col-lg-2 d-flex align-items-center">&times; {{ cart_item.price }} руб.</div>
          <div class="col-12 col-sm-4 col-md col-lg-2 d-flex align-items-center">= {{ cart_item.total_price }} руб.</div>
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
<div class="card border-0 mb-4">
  <ul class="list-group">
    <li class="list-group-item border-0 text-bg-light">
      <div class="row py-3">
        <div class="col">
          <h5>Итого: <strong>{{ cart.total_price }} руб.</strong></h5>
        </div>
      </div>
    </li>
  </ul>
</div>
