{% extends 'main.html' %}

{% block head %}
  <title>Подтвердите Ваш заказ</title>
{% endblock %}

{% block name %}
  Подтвердите Ваш заказ
{% endblock %}

{% block content %}
<div class="container-fluid px-3 px-md-5 mb-3">
  <div class="row">
    <div class="col-12">
      <p>На адрес электронной почты {{email}} отправлен код подтверждения. Если письмо не пришло, проверьте папку «Спам».</p>
    </div>
    <div class="col-12 col-lg-6">
      {% if form.errors %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ error }}
              <a class="close" href="#" data-bs-dismiss="alert">×</a>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Пожалуйста исправьте ошибки.
            <a class="close" href="#" data-bs-dismiss="alert">×</a>
          </div>
        {% endif %}
      {% endif %}

      <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3{% if field.errors %} error{% endif %}">
            {% comment %} <label for="{{ field.id_for_label }}" class="{% if field.field.required %}required{% endif %}">{{ field.label }}</label> {% endcomment %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              <span class="text-danger">{{ field.errors.as_text }}</span>
            {% endif %}
          </div>
        {% endfor %}
        <button class="btn btn-primary">Подтвердить заказ</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
