{% extends 'main.html' %}

{% block head %}
  <title>Оформление заказа</title>
{% endblock %}

{% block name %}
  Оформление заказа
{% endblock %}

{% block content %}
  <div class="container-fluid px-3 px-md-5 mb-3">
    <h3>Выбранные товары</h3>
    <div id="cartContainer">
      {% include 'orders/cart.html' %}
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <h3>Форма заказа</h3>
        <p>Выделенные поля являются обязательными для заполнения.</p>
        {% if form.errors %}
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <a class="close" href="#" data-bs-dismiss="alert">×</a>
              </div>
            {% endfor %}
          {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              Пожалуйста исправьте ошибки.
              <a class="close" href="#" data-bs-dismiss="alert">×</a>
            </div>
          {% endif %}
        {% endif %}

        <form action="{{ request.path }}" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="mb-3{% if field.errors %} error{% endif %}">
              {% comment %} <label for="{{ field.id_for_label }}">{{ field.label }}</label> {% endcomment %}
              {{ field.label_tag }}
              {{ field }}
              {% if field.errors %}
                <span class="text-danger">{{ field.errors.as_text }}</span>
              {% endif %}
            </div>
          {% endfor %}
          <button class="btn btn-primary col-lg-3">Оформить заказ</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
