{% extends 'main.html' %}
{% load thumbnail markdownify django_bootstrap_breadcrumbs %}

{% block head %}
  <title>Оформление заказа</title>
{% endblock %}

{% block name %}
  Оформление заказа
{% endblock %}

{% comment %} {% block breadcrumb %}
  {% breadcrumb_for '/' %}<i class="fas fa-home text-white"></i>{% endbreadcrumb_for %}
  {% breadcrumb_for 'carts:index' %}Корзина{% endbreadcrumb_for %}
  {% render_breadcrumbs 'breadcrumb.html' %}
{% endblock %} {% endcomment %}

{% block content %}
  <div class="row mt-3 mx-2">
    <div class="col-12 col-lg-12">
      {% include 'carts/cart.html' %}
    </div>
  </div>
{% endblock %}
