{% load favorites ctid %}

{% get_favorites as in_favorites %}
{% if in_favorites != None and user.is_authenticated %}
<button class="btn social p-0 me-2" id="favorites" title="Добавить в избранное" data-ct-id="{{object|get_ct_id}}" data-id="{{ object.id }}">
    <i class="{% if in_favorites %}fas{% else %}far{% endif %} fa-heart fa-lg fa-fw" aria-hidden="true"></i>
</button>
{% endif%}

{% comment %} {% get_favorites as in_favorites %}
{% if in_favorites != None %}
<button class="btn social p-0 me-2" id="favorites" title="Добавить в избранное"
{% if user.is_authenticated %}
    data-ct-id="{{object|get_ct_id}}" data-id="{{ object.id }}"
{% else %}
    data-toggle="modal" data-target="#loginModal" 
{% endif %}
>
<i class="{% if in_favorites %}fas{% else %}far{% endif %} fa-heart fa-lg fa-fw" aria-hidden="true"></i>
</button>
{% endif%} {% endcomment %}